.result{
    text-align: center;
    position: relative;
    height: 98vh;
}

.result img{
    height: 500px;
}

.btn{
    position: absolute;
    left: 20%;
    bottom: 20%;
    background-color: orangered;
    padding: 15px 25px;
    color: white;
    border: 0.5px #fafafa;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}